.carousel-image {
    border-radius: 15px;
    max-height: 532px;
    object-fit: cover;
    width: 100%;
}

.carousel {
    width: 65%;
}

.content-centered {
    display: flex;
    justify-content: center;
    text-align: center;
    /* For layout from Toni */
    margin-bottom: 3rem;
}


.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  height: 50px;
  width: 50px;
  /* border-radius: 50%;
  border: 1px solid black; */
}


